<div class="modal-header">
  <div class="modal-title">About</div>
</div>
<div>
<div align="center">
  <img src="./assets/logo.png" width="100" height="100"/>
</div> 
<div nz-row [nzType]="'flex'" [nzJustify]="'center'" [nzAlign]="'middle'" class="app-icons" [nzGutter]="16">
  <div  nz-col [nzSpan]="6">
    <nz-avatar class="alain-default__aside-user-avatar" [nzShape]="'square'" [nzSrc]="'./assets/about/angular.svg'" [nzSize]="64">
    </nz-avatar>
    <h3>angular</h3>
  </div>
  <div nz-col [nzSpan]="6">
    <nz-avatar class="alain-default__aside-user-avatar" [nzShape]="'square'" [nzSrc]="'./assets/about/zorro.svg'"
      [nzSize]="64">
    </nz-avatar>
    <h3>zorro</h3>
  </div>
  <div nz-col [nzSpan]="6">
    <nz-avatar class="alain-default__aside-user-avatar" [nzShape]="'square'" [nzSrc]="'./assets/about/alain.svg'"
      [nzSize]="64">
    </nz-avatar>
    <h3>alain</h3>
  </div>
</div>
<div>
  <h2>基于angular7、NG-ZORRO、Ng-Alain编写而成。</h2>
</div>
