<nz-dropdown nzTrigger="click" nzPlacement="bottomRight">
  <div class="alain-default__nav-item" nz-dropdown>
    <i class="anticon anticon-appstore"></i>
  </div>
  <div nz-menu class="wd-xl animated jello">
    <div nz-row [nzType]="'flex'" [nzJustify]="'center'" [nzAlign]="'middle'" class="app-icons" [nzGutter]="16">
      <div *ngFor="let icon of icons" nz-col [nzSpan]="6" (click)="moduleChange(icon)">
        <nz-avatar class="alain-default__aside-user-avatar" [nzShape]="'square'" [nzSrc]="icon.logoUrl"
          [nzSize]="64">
        </nz-avatar>
        <small>{{icon.name}}</small>
      </div>
    </div>
  </div>
</nz-dropdown>
