<div class="container">
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo.png">
        <span class="title">ReID</span>
      </div>
    </div>
    <router-outlet></router-outlet>
     <!-- [links]="links" -->
    <global-footer>
      <div class="copyright"> 
        Copyright 
        <i class="anticon anticon-copyright"></i> 
        2017-{{year}} ReID.
        <a target="_blank" herf="http://www.miitbeian.gov.cn">添加备案号</a>
      </div>
    </global-footer>
  </div>
</div>
